<h3 class="font-medium font-oswald">Languages:</h3>
<ul class="flex flex-col md:flex-row print:flex-row pl-4 md:space-x-1 print:space-x-1 flex-wrap">
	<li>English</li>
	<li class="hidden md:block">|</li>
	<li>Hindi</li>
</ul>
<h3 class="font-medium font-oswald">Interests:</h3>
<ul class="flex flex-col md:flex-row print:flex-row pl-4 md:space-x-1 print:space-x-1 flex-wrap">
	<li>Physics</li>
	<li class="hidden md:block">|</li>
	<li>Artificial intelligence</li>
	<li class="hidden md:block">|</li>
	<li>science & fiction books/movies</li>
</ul>
<h3 class="font-medium font-oswald">Personal details:</h3>
<ul class="flex flex-col md:flex-row print:flex-row pl-4 md:space-x-1 print:space-x-1 flex-wrap">
	<li class="hidden md:block">|</li>
	<li>Male</li>
	<li class="hidden md:block">|</li>
	<li>Maried</li>
	<li class="hidden md:block">|</li>
	<li>Indian</li>
	<li class="hidden md:block">|</li>
	<li>
		<a
			class="text-blue-500"
			href="www.linkedin.com/in/shivendra-bind"
			target="_blank">LinkedIn</a
		>
	</li>
</ul>
